# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
db.sqlite3
venv/
.venv/

# Environment variables
.env
.env.*

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
