/*Phone*/
@media screen and (max-width:600px) {
    /*Front page learn more*/
    .front-page-learn-more-container-css{
        position: relative;
        display: flex;
        justify-content: center;
        height: 200px;
        margin-top: 50px;
    }
    .front-page-learn-more-black{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(3,3,3,0.66);
        height: 200px;
        width:100%;
        border-radius: 20px;
    }
    .front-page-image-container-css{
        height: 200px;
        width: 100%;
    }
    .front-page-image-css{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: opacity 1s ease-out;
    }
    .pamir-academy-learn-more-css{
        font-size: 15px;
        color: white;
    }
    .learn-more-button-css{
        background-color: rgb(0,98,54);
        color: white;
        border: none;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
    }
    .learn-more-button-css:hover{
        text-decoration: underline;
    }
    .learn-more-short-text-css{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 10px;
        color: white;
        width: 100%;
        text-align: center;
    }
    /*Moving button*/
    .moving-button-css{
        display: none;
        background-color: transparent;
        border: none;
        width: 60px;
        height: 50px;
    }
    /*Students Teachers Statistics*/
    .students-teachers-container-css{
        background-color: rgb(0,98,54);
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        margin-top: 20px;
        width: 100%;
    }
    .students-number-css,
    .teachers-number-css,
    .countries-number-css{
        color: white;
        font-size: 20px;
        margin: 0;
    }
    /*Our Team*/
    .title-our-team-css{
        position: relative;
        border: 1px blacksolid;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
       
    }
    .our-team-white-banner-css{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(217,217,217,0.6);
        height: 60px;
        width: 100%;
        border-radius: 10px;
    }
    .our-team-main-container-css{
        display: flex;
        justify-content: center;
        min-height: 400px;
        margin-top: 100px;
        padding-top: 60px;
    }
    .our-team-block-container-css{
        position: relative;
        padding: 70px 15px 25px 15px;
    }
    .our-team-profile-img-container-css{
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
    }
}


/*Tablet*/
@media screen and (min-width: 601px) and (max-width:1024px) {
    /*Front page learn more*/
    .front-page-learn-more-container-css{
        position: relative;
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 50px;
    }
    .front-page-learn-more-black{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(3,3,3,0.66);
        height: 300px;
        width:100%;
        border-radius: 20px;
    }
    .front-page-image-container-css{
        height: 300px;
        width:100%;
    }
    .front-page-image-css{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: opacity 1s ease-out;
    }
    .pamir-academy-learn-more-css{
        font-size: 15px;
        color: white;
    }
    .learn-more-button-css{
        background-color: rgb(0,98,54);
        color: white;
        border: none;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 10px;
        cursor: pointer;
    }
    .learn-more-button-css:hover{
        text-decoration: underline;
    }
    .learn-more-short-text-css{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 10px;
        color: white;
        width:80%;
        text-align: center;
    }
    /*Moving button*/
    .moving-button-css{
        display: none;
        background-color: transparent;
        border: none;
        width: 60px;
        height: 50px;
    }
    /*Students Teachers Statistics*/
    .students-teachers-container-css{
        background-color: rgb(0,98,54);
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        margin-top: 20px;
        width:100%;
    }
    .students-number-css,
    .teachers-number-css,
    .countries-number-css{
        color: white;
        font-size: 20px;
        margin: 0;
    }
    /*Our Team*/
    .title-our-team-css{
        position: relative;
        border: 1px blacksolid;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
       
    }
    .our-team-white-banner-css{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(217,217,217,0.6);
        height: 60px;
        width:100%;
        border-radius: 10px;
    }
    .our-team-main-container-css{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        min-height: 400px;
        margin-top: 100px;
        width:100%;
        max-width: 100%;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .our-team-block-container-css{
        position: relative;
        padding: 70px 15px 25px 15px;
    }
    .our-team-profile-img-container-css{
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
    }
}

/*Large Screen*/
@media screen and (min-width: 1441px) {
    /*Front page*/
    .front-page-learn-more-black{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(3,3,3,0.66);
        height: 600px;
        width:100%;
        border-radius: 20px;
    }
    .front-page-image-container-css{
        height: 600px;
        width:100%;
    }
    .learn-more-short-text-css{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 25px;
        color: white;
        width: 100%;
        text-align: center;
    }
    /*Moving button*/
    .moving-for-large-screen{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px redsolid;
        height: 50px;
        margin-top: 300px !important;
    }
    .moving-front-image-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px redsolid;
        height: 50px;
        margin-top: 10px;
    }
     /*Students Teachers Statistics*/
     .students-teachers-container-css{
        background-color: rgb(0,98,54);
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        margin-top: 50px;
        width:100%;
    }
    /*Our Team*/
    .our-team-white-banner-css{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(217,217,217,0.6);
        height: 100px;
        width:100%;
        border-radius: 10px;
    }
    .our-team-main-container-css{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        min-height: 600px;
        margin-top: 100px;
        width:100%;
        max-width: 100%;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .our-team-block-container-css{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(217,217,217,0.6);
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: auto;
        border-radius: 20px;
        padding: 70px 15px 25px 15px;
        position: relative;
    }
    .our-team-profile-img-container-css{
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 120px;
    }
}